// base and frameworks
@require "normalize"
@require "utilities"

// settings for current project
@require "settings"

// animations on scroll
@require "scroll-animation"

// elements
@require "blocks"