.scrolling
.scrolling *
	pointer-events none !important

.scroll-anim
	transition 1.5s ease-in-out

	&--hide
		opacity 0

	&--show
		opacity 1

	&--offset_left&--hide
		transform translate3d(-30px, 0, 0)

	&--offset_left&--show
		transform translate3d(0px, 0, 0)

	&--offset_right&--hide
		transform translate3d(30px, 0, 0)

	&--offset_right&--show
		transform translate3d(0px, 0, 0)