$color-bg = #fff
$color-bg-alt = #f3f3f3
$color-bg-footer = #4f4f4f
$color-text-footer = #6e6e6e
$color-text-alt-footer = #949494
$color-link = #a7a7a7
$color-text-head = #303030
$color-text = #5a5a5a
$color-bg-form = #f2f2f2
$color-bg-submit = #6995a9

$base-font-size = 16
$brand-font = Gotham, sans-serif
$brand-font-alt = Georgia, serif

$width = 900px;
$gutter = 60px;
$gutter-small = 20px;